body {
  background-color: #111;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* gap: 96px; */
}

form {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 5vh;
  flex-wrap: wrap;
  font-size: 14px;
  color: #aaa;
  width: 600px;
}

span {
  display: flex;
  align-items: center;
  gap: 12px;
}

span input {
  width: 120px;
  height: 20px;
  background-color: #444;
  border: 1.5px solid #666;
  border-radius: 2px;
  color: whitesmoke;
  padding-left: 4px;
}

form button {
  padding: 6px 16px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  background-color: #222;
  color: #aaa;
}

form button:hover {
  background-color: #333;
}

.game-instructions {
  text-align: center;
  /* width: 140px; */
  color: #949494;
  margin-top: 144px;
  width: 600px;
  line-height: 1.8;
  font-size: 14px;
  height: 25.15px;
}

.board,
.square {
  border: 0.5px solid #222;
}

.board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  box-sizing: content-box;
  margin-top: 24px;
}

.square {
  width: 200px;
  height: 200px;
  color: #aaa;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.winning-square {
  color: #6cb654;
}

.info-card {
  font-size: 40px;
  color: #aaa;
  height: 60px;
  margin-top: 48px;
}
